@charset "UTF-8";


::-webkit-scrollbar {
  width: 0;
}


* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}


:root {
  --background-color: #051df5;
  --secondary-color: #220292;
  --font-color: #ffffff;
  --primary-color: #5502b4;
  --terc-color: #04ebfc;
  --extra-color: #01f552;
  --title-font: "Roboto Mono", monospace;
  --text-font: "Roboto", sans-serif;
  --alt-font: "BenchNine", sans-serif;
  --nav-font: "Antonio", sans-serif;
}

html {
  scroll-behavior: smooth;
}
/* Habilitando a rolagem suave na página */

body {
  background-color: #0a1685;
  height: 100%;
  display: flex;
  flex-direction: column;
}


.nav-bar {
  background-color: #000000;
  height: 13vh;
  width: 100%;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-around;
  box-shadow: 0px 2px 10px 0px rgba(0, 0, 0, 0.533);
  position: fixed;
  top: 0;
  z-index: 1000;
}


.nav-bar .links {
  text-decoration: none;
  color: #ffffff;
  padding: 15px 20px;
  font-family: var(--nav-font);
  font-size: 1.2em;
  font-weight: 100;
  text-transform: uppercase;
  text-align: center;
  border-bottom: none;
  position: relative;
}
/* Ajustando os links na barra de navegação*/

.nav-bar .links:hover {
  color: #04ebfc;
  background-color: #2c40ee;
  transition: 0.4s;
}
/* Estilizando os links na barra de navegação quando o mouse está sobre eles */

.content {
  margin-top: 13vh;
  width: 100%;
  display: flex;
  flex-direction: column;
}
/* Ajustando a seção de conteúdo principal da página */

.cover-section {
  height: 720px;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
}

.main-title {
  color: #ffffff;
  font-size: 4.6em;
  font-family: var(--title-font);
}

.letter-a {
  color: #04ebfc;
  font-size: 1.2em;
}

.title-description {
  color: #ffffff;
  font-size: 3em;
  font-family: var(--title-font);
  padding-top: 10px;
}

.about {
  height: fit-content;
  font-family: var(--text-font);
  margin-top: 50px;
}

.about h2 {
  color: #ffffff;
  font-size: 3.2em;
  text-align: center;
  line-height: 1em;
  padding-bottom: 40px;
}

.about-content {
  color: #ffffff;
  text-align: justify;
  line-height: 2em;
  width: 60%;
  margin: auto;
  padding: 20px 20px 400px 20px;
}

.cv {
  height: fit-content;
  font-family: var(--text-font);
  display: flex;
  align-items: flex-start;
  justify-content: center;
}


.cv-content {
  color: #ffffff;
  text-align: justify;
  line-height: 2em;
  width: 50%;
  padding: 20px;
}

.cv h2 {
  color: #ffffff;
  font-size: 3.2em;
  text-align: center;
  line-height: 1em;
  padding-bottom: 40px;
}

.cv-list {
  padding-bottom: 30px;
}

.portfolio {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  gap: 30px;
  justify-items: center;
  align-content: flex-start;
  margin-top: 100px;
}

.portfolio h2 {
  color: #ffffff;
  grid-column: 1 / -1;
  text-align: center;
  font-size: 2.8em;
  margin-bottom: 40px;
}

.portfolio .projects {
  width: 70%;
  display: flex;
  flex-direction: column;
  background-color: #85bfed;
  border-radius: 15px;
  box-shadow: 0px 2px 6px rgba(0, 0, 0, 0.2);
  overflow: hidden;
  transition: transform 0.2s ease;
}

.portfolio .projects:hover {
  transform: translateY(-5px);
}

.portfolio .project-header img {
  width: 100%;
  border-top-left-radius: 15px;
  border-top-right-radius: 15px;
}

.portfolio .project-content {
  padding: 20px;
}

.portfolio .project-content h3 {
  font-size: 1.6em;
  margin-bottom: 10px;
}

.portfolio .project-content p {
  margin: 0;
  font-size: 1.2em;
  line-height: 1.4;
}

.portfolio .project-link {
  margin-top: 20px;
}

.portfolio .project-link a {
  text-decoration: none;
  color: #a466e2;
  font-size: 1.2em;
  transition: transform 0.2s;
  margin-right: 10px;
}

.portfolio .project-link a img {
  width: 24px;
  height: 24px;
}

.portfolio .project-link a:hover {
  transform: translateX(3px);
}

.contact {
  height: fit-content;
  margin-top: 200px;
  margin-bottom: 50px;
}

.contact h2 {
  color: #ffffff;
  font-size: 3.2em;
  text-align: center;
  line-height: 1em;
  padding-bottom: 40px;
}

.contact-form {
  width: 50%;
  background-color: #220292;
  padding: 20px;
  margin: 0 auto;
  border-radius: 15px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
  color: #ffffff;
  margin-bottom: 20px;
}

.contact-form label {
  display: block;
  font-size: 1.2em;
  margin-top: 10px;
}

.contact-form input[type="text"],
.contact-form input[type="email"],
.contact-form textarea {
  width: 100%;
  padding: 10px;
  margin: 5px 0;
  border: 1px solid #04ebfc;
  border-radius: 5px;
  background-color: #ffffff;
  color: #ffffff;
}

.contact-form.submit-button {
  background-color: #a466e2;
  color: #ffffff;
  border: none;
  border-radius: 5px;
  padding: 10px 20px;
  cursor: pointer;
  margin-top: 10px;
  font-size: 1.2em;
  transition: background-color 0.3s;
}

.contact-form .submit-button:hover {
  background-color: #04ebfc;
}

.contact-form .form-group {
  margin-bottom: 20px;
}
